.faq {
  padding: 75rem 0 150rem;
  @media (max-width: $lg) {
    padding-top: 50rem;
    padding-bottom: 90rem;
  }
  &__container {
  }
  &__title {
    margin: 0 0 60rem;
    text-align: center;
    @media (max-width: $lg) {
      margin-bottom: 35rem;
    }
  }
  &__list {
    &-card {
      &:not(:last-child) {
        margin-bottom: 5rem;
      }
    }
  }
}