.footer {
  background: $blackColor;
  padding: 80rem 0;
  color: $greyPaleColor;
  border-radius: $radiusSemi $radiusSemi 0 0;
  @media (max-width: $lg) {
    padding-top: 30rem;
    padding-bottom: 30rem;
    border-radius: $radiusMd $radiusMd 0 0;
  }
  &__container {
  }
  &__row {
  }
  &__col {
    &--logo {
      @media (max-width: $lg) {
        max-width: 100%;
        margin-bottom: 40rem;
        flex-basis: 100%;
        text-align: center;
      }
    }
    &--nav {
      @media (max-width: $lg) {
        max-width: 100%;
        margin-bottom: 30rem;
        flex-basis: 100%;
        text-align: center;
      }
    }
    &--copyright {
      margin-top: 80rem;
      @media (max-width: $lg) {
        max-width: 100%;
        margin-top: 20rem;
        flex-basis: 100%;
        text-align: center;
      }
    }
  }
  &__logo {
    width: 100%;
    max-width: 160rem;
    @media (max-width: $lg) {
      max-width: 148rem;
    }
  }
  &__nav {
    &-title {
      margin: 0 0 23rem;
      font-weight: 500;
      color: $greyAshColor;
      @media (max-width: $lg) {
        margin-bottom: 10rem;
      }
    }
    &-list {
      margin: 0;
      padding: 0;
      list-style-type: none;
    }
    &-item {
      margin: 0;
      padding: 0;
      &:not(:last-child) {
        margin-bottom: 10rem;
      }
    }
    &-link {
      @extend %area-click;
      transition: $transition;
      &:hover {
        text-decoration: none;
        @media (min-width: $lg-mf) {
        }
      }
    }
  }
  &__sc {
    margin-right: 22rem;
    @media (max-width: $lg) {
      margin: 0 0 20rem;
    }
    &-wrapper {
      margin: 0 0 40rem;
      display: flex;
      justify-content: center;
      align-items: center;
      @media (max-width: $lg) {
        flex-direction: column;
      }
    }
    &-title {
      flex-shrink: 0;
    }
  }
  &__copyright {
    margin: 0;
    font-size: var(--fs-8);
    color: $greyAshColor;
    text-align: center;
  }
}