.header {
  background: $greyColor;
  width: 100%;
  padding: 18rem 0;
  border-radius: 0 0 $radiusSemi $radiusSemi;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 900;
  @media (max-width: $lg) {
    padding-top: 15rem;
    padding-bottom: 15rem;
    border-radius: 0 0 $radiusMd $radiusMd;
  }
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__logo {
    max-width: 114rem;
    flex: 0 0 114rem;
    @media (max-width: $lg) {
      max-width: 80rem;
      flex-basis: 80rem;
    }
  }
  &__dropdown {
    display: flex;
    align-items: center;
    flex-grow: 1;
    @media (max-width: $lg) {
      background: $greyColor;
      width: calc(100% - 60rem);
      max-width: 360rem;
      margin-left: 60rem;
      padding: 15rem;
      flex-direction: column;
      align-items: flex-start;
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      overflow-x: hidden;
      overflow-y: auto;
      transition: $transition;
      transition-property: transform, visibility, opacity;
      z-index: 998;
    }
    &:not(.is-show) {
      @media (max-width: $lg) {
        transform: translateX(100vw);
        pointer-events: none;
        visibility: hidden;
        opacity: 0;
      }
    }
    &-header {
      width: 100%;
      margin: 0 0 70rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      &-logo {
        max-width: 80rem;
        flex: 0 0 80rem;
      }
    }
  }
  &__nav {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    @media (max-width: $lg) {
      width: 100%;
      flex-grow: initial;
    }
  }
  &__btn-group {
    flex-shrink: 0;
    @media (max-width: $lg) {
      --btn-group-gap: 5rem;
      width: 100%;
      margin-top: auto;
      padding-top: 40rem;
    }
    .btn {
      min-width: 128rem;
      @media (max-width: $lg) {
        width: 100%;
      }
    }
    .btn-group__col {
      @media (max-width: $lg) {
        width: 100%;
        flex-basis: 100%;
      }
    }
  }
  &__toggle {
    @extend %area-click, %btn-reset;
    @media (max-width: $lg) {
      margin: 0 0 0 auto;
      display: flex;
      flex-shrink: 0;
      color: $accentColor;
      position: relative;
      transition: $transition;
    }
    &--open {
      width: 35rem;
      height: 35rem;
    }
    &--close {
      width: 28rem;
      height: 28rem;
    }
    .u-icon {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }
    &.js-header-toggle-open {
      &:before {
        transition: $transition;
        transition-property: opacity, visibility;
      }
      &:not(.is-active) {
        &:before {
          pointer-events: none;
          opacity: 0;
          visibility: hidden;
        }
      }
      &:before {
        @media (max-width: $lg) {
          background: rgba($greyCloudColor, .6);
          backdrop-filter: blur(4px);
          content: '';
          position: fixed;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          z-index: 995;
        }
      }
    }
    &.js-header-toggle-close {
    }
  }
}