.rewriting-section {
  padding: 100rem 0 75rem;
  @media (max-width: $lg) {
    padding: 50rem 0 45rem;
  }
  &:first-child:last-child {
    padding-bottom: 150rem;
    @media (max-width: $lg) {
      padding-bottom: 90rem;
    }
  }
  &__container {
  }
  &__title {
    margin: 0 0 60rem;
    font-weight: 800;
    text-align: center;
    @media (max-width: $lg) {
      margin-bottom: 35rem;
    }
  }
  &__form {
  }
}