<header class="@@el header">
  <div class="container container--size-md header__container">
    <a href="/" class="logo header__logo">
      <picture class="logo__picture">
        <img src="images/logo-black.svg" width="114" height="58" alt="Synonym AI">
      </picture>
    </a>
    <div class="header__dropdown">
      <div class="d-lg-block header__dropdown-header">
        <a href="/" class="logo header__dropdown-header-logo">
          <picture class="logo__picture">
            <img src="images/logo-black.svg" width="114" height="58" alt="Synonym AI">
          </picture>
        </a>
        <button type="button" class="js-header-toggle-close header__toggle header__toggle--close">
          <svg class="u-icon">
            <use xlink:href="images/icons/icons.svg#menu-close"></use>
          </svg>
        </button>
      </div>
      <nav class="u-nav header__nav" role="navigation">
        <ul class="u-nav__list">
          <li class="u-nav__item">
            <a href="/" class="u-nav__link">Синонимайзер</a>
          </li>
          <li class="u-nav__item">
            <a href="anti_plagiarism.html" class="u-nav__link">Антиплагиат</a>
          </li>
          <li class="u-nav__item">
            <a href="#" class="js-nav-dropdown-toggle u-nav__link u-nav__link--dropdown">Инструменты для работы с&nbsp;текстом</a>
            <ul class="u-nav__dropdown">
              <li class="u-nav__dropdown-item">
                <a href="#" class="u-nav__dropdown-link">Инструмент 1</a>
              </li>
              <li class="u-nav__dropdown-item">
                <a href="#" class="u-nav__dropdown-link">Инструмент 2</a>
              </li>
              <li class="u-nav__dropdown-item">
                <a href="#" class="u-nav__dropdown-link">Инструмент 3</a>
              </li>
              <li class="u-nav__dropdown-item">
                <a href="#" class="u-nav__dropdown-link">Инструмент 4</a>
              </li>
              <li class="u-nav__dropdown-item">
                <a href="#" class="u-nav__dropdown-link">Инструмент 5</a>
              </li>
              <li class="u-nav__dropdown-item">
                <a href="#" class="u-nav__dropdown-link">Инструмент 6</a>
              </li>
              <li class="u-nav__dropdown-item">
                <a href="#" class="u-nav__dropdown-link">Инструмент 7</a>
              </li>
              <li class="u-nav__dropdown-item">
                <a href="#" class="u-nav__dropdown-link">Инструмент 8</a>
              </li>
            </ul>
          </li>
        </ul>
      </nav>
      <div class="btn-group header__btn-group">
        <div class="btn-group__inner">
          <div class="btn-group__col">
            <button type="button" data-modal="popup-login" class="btn btn--size-md btn--theme-accent-outline btn-group__item">
              <span class="btn__inner">
                <span class="btn__title">Вход</span>
              </span>
            </button>
          </div>
          <div class="btn-group__col">
            <button type="button" data-modal="popup-registration" class="btn btn--size-md btn--theme-accent-fill btn-group__item">
              <span class="btn__inner">
                <span class="btn__title">Регистрация</span>
              </span>
            </button>
          </div>
        </div>
      </div>
    </div>
    <button type="button" class="js-header-toggle-open d-lg-block header__toggle header__toggle--open">
      <svg class="u-icon">
        <use xlink:href="images/icons/icons.svg#menu-open"></use>
      </svg>
    </button>
  </div>
</header>