$siteResolution: 1px;
$mainFont: 'Manrope';
$mainWeight: 400;
$lineHeight1: 1.3;
$lineHeight2: 1.25;
$lineHeight3: 1.2;
$lineHeight4: 1;
$lineHeight5: 1.375;
$lineHeightDefault: $lineHeight1;

$containerWidthMd: 1240rem;

$gap: 12rem;
$gapFluid: 24rem;

$radiusXs: 5rem;
$radiusSm: 10rem;
$radiusMd: 15rem;
$radiusSemi: 20rem;

$whiteColor: #F1F1F1;
$whiteFullColor: #ffffff;
$blackColor: #101010;
$greyColor: #E9E9E9;
$greyMediumColor: #BFBFBF;
$greyLightColor: #EBEBEB;
$greyNeutralColor: #959595;
$greyPaleColor: #E3E3E3;
$greyDarkColor: #626262;
$greyAshColor: #797979;
$greyCloudColor: #A0A0A0;
$blueColor: #0D50B9;
$blueLightColor: #5583CD;
$redColor: #FF3131;
$redLightColor: #FFB0B0;
$greenColor: #A7FF9F;
$accentColor: $blueColor;
$accentLightColor: $blueLightColor;

$bgSite: $whiteColor;

$fontFamily: $mainFont, Open Sans, sans-serif, Arial;
$fontColor: $blackColor;
$fontWeight: $mainWeight;

$transition: all .4s 0ms;

$xl: 1340px;
$xl-mf: $xl + 1;

$lg: 1199px;
$lg-mf: $lg + 1;

$md: 991px;
$md-mf: $md + 1;

$sm: 767px;
$sm-mf: $sm + 1;

$xs: 576px;
$xs-mf: $xs + 1;

:root {
  --fs-default: 16rem;
  --fs-1: 40rem;
  --fs-2: 30rem;
  --fs-3: 25rem;
  --fs-4: 20rem;
  --fs-5: 18rem;
  --fs-6: 16rem;
  --fs-7: 14rem;
  --fs-8: 12rem;
  --fs-9: 10rem;
  --fs-10: 13rem;

  --gap: 20rem;
  --gap-: -20rem;
  --gap-fluid: 40rem;
  --gap-fluid-: -40rem;
  --gap-container: var(--gap-fluid);
  --gap-container-: var(--gap-fluid-);

  --vh: 1vh;
  @media (max-width: $lg) {
    --fs-1: 25rem;
    --fs-2: 25rem;
    --fs-3: 20rem;

    --gap: 8rem;
    --gap-: -8rem;
    --gap-fluid: 16rem;
    --gap-fluid-: -16rem;
  }
}